@model MVC_Parte3.Models.ClsDatos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MostrarProductos</title>
</head>
<body>
    <div>
        <h3>Producto:</h3>
        <label>Descripcion es: @Model.descripcion <br /></label>
        <label>Cantidad es: @Model.cantidad <br /></label>
        <label>Precio es: @Model.precio <br /></label>
    </div>
</body>
</html>
